#headNews {
  border-width: 0px;
  margin: 32px 0px 16px 0px;
  background-color: black;
}

#headNewsTitle {
  color: white;
  font-family: serif;
  font-weight: bold;
}

#headNewsReadTime {
  color: white;
  font-weight: bold;
  margin-bottom: 8px;
}

#headNewsReleaseTime {
  color: red;
  font-weight: bold;
  margin-bottom: 8px;
}

#headNewsContent {
  color: white;
  font-size: 18px;
}

#headNewsImg {
  width: 100%;
  height: auto;
}

div.headCard {
  border-width: 0px;
  margin: 8px 8px;
}

div.headCardBody {
  padding: 30px 0px 16px 0px;
}

h5.headCardTitle {
  font-family: serif;
  font-weight: bold;
}

p.headCardReadTime {
  color: black;
  font-weight: bold;
  margin-bottom: 4px;
}

p.headCardReleaseTime {
  color: black;
}

#headSideBar {
  margin-top: 32px;
}

#mostRead {
  text-align: center;
  font-weight: bold;
}

li.mostReadList {
  border: 0px;
  margin-bottom: 32px;
}

div.mostReadMins {
  font-size: 14px;
  margin-top: 8px;
}

#youShouldKnow {
  margin: 60px 120px;
}

#secondPartTitle {
  text-align: center;
  font-family: monospace;
}

#secondPart {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

div.secondCard {
  border: 0px;
  margin: 32px 8px;
  position: relative;
}

h5.secondCardCategory {
  position: absolute;
  bottom: 20px;
  background-color: #930000;
  padding: 4px;
  font-size: 14px;
}

p.secondCardTitle {
  font-weight: bold;
}

a.secondCardLink:link,
a.secondCardLink:visited {
  color: white;
}

img.secondCardImg {
  transition: .5s;
}

.secondCard:hover img {
  transform: scale(1.01, 1.01);
}

#editors {
  padding: 32px 0px 64px 0px;
}

#editorsPicksTitle {
  display: flex;
  justify-content: space-between;
  margin: 24px 0px 24px 0px;
}

div.editorsPicksRow {
  overflow-x: scroll;
}

#editorsPicks {
  font-family: monospace;
}

div.editorsPicksSubscribe {
  align-self: center;
}

a.editorsPicksSubscribeLink {
  color: red;
  font-size: 18px;
}

div.editorsCard {
  border: 0px;
  font-size: 18px;
  font-weight: bold;
}

a.editorsPicksLink:link {
  text-decoration: none;
}

div.latestStories {
  background-color: #D0D0D0;
  display: flex;
  flex-direction: column;
}

#featureVoices {
  padding: 32px 0px 64px 0px;
}

div.voiceCol {
  padding: 24px 32px 40px 0px;
}

h4.voiceTilte {
  color: red;
}


a.voiceLink {
  color: black;
  text-decoration: none;
}

#latestStories {
  font-weight: bold;
  align-self: center;
  padding: 24px 0px;
}

div.latestStoriesDiv {
  margin: 0px 8px 16px 8px;
}

a.latestStoriesLink {
  color: black;
  text-decoration: none;
}

a.latestStoriesLink:hover {
  color: red;
}

p.latestStoriesTitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

p.latestStoriesRead {
  font-size: 12px;
  font-weight: 900;
  margin-bottom: 8px;
}

p.latestStoriesRelease {
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 8px;
}